<!doctype html>
<html lang="en">
<head>

	<meta charset="UTF-8">
	<title>PuduChat</title>
	<link rel="shortcut icon" type="image/x-icon" href="{{url_for('static', filename='img/icono.png')}}">
	<link rel="stylesheet" type="text/css"  href="../static/css/cschat.css"/>
	<link href="https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap" rel="stylesheet">

	<nav class="navegacion">
		<ul class="menu">

		  <li><a href="" #=""><img src="https://img.icons8.com/color-glass/50/000000/controller.png"/></a></li>
		  <li><a href="" #=""><img src="https://img.icons8.com/color-glass/50/000000/crowd.png"/></a>
			<ul class="submenu">
        
			  <li><a href="" #=""><img src="https://img.icons8.com/color-glass/60/000000/pokemon.png"/></a></li>
			  <li><a href="" #=""><img src="https://img.icons8.com/color-glass/60/000000/naruto.png"/></a></li>
			  <li><a href="" #=""><img src="https://img.icons8.com/color-glass/48/000000/minecraft-diamond.png/"></a></li>
			  <li><a href="" #=""><img src="https://img.icons8.com/color-glass/48/000000/space-fighter.png"/></a></li>
			</ul> </li>
		  <li><a href="" #=""><img src="https://img.icons8.com/color-glass/50/000000/search.png"/></a></a>
		</li>
		<li><a href="http://127.0.0.1:5000/ajuste" #=""><img src="https://img.icons8.com/color-glass/48/000000/settings.png"/></a></li>
		</ul>
	</nav>

</head>
<body>
	<div id="live-chat">
		
		<header class="clearfix">
			

			<h4>LOS CHICOS DEL BARRIO</h4>

			<span class="chat-message-counter">3</span>

		</header>

		<div class="chat">
			
			
			<div class="chat-history">
				
				<div class="chat-message clearfix">

					
					<img src="https://img.icons8.com/color-glass/48/000000/rebel.png" alt="" width="32" height="32">

					<div class="chat-message-content clearfix">
						
						
						<span class="chat-time">13:35</span>

						<h5>John Doe</h5>
						
						<p>Buenas amigos</p>

					</div> <!-- end chat-message-content -->

				</div> <!-- end chat-message -->

				<hr>

				<div class="chat-message clearfix">
					
					<img src="https://img.icons8.com/color-glass/48/000000/super-mario.png" alt="" width="32" height="32">

					<div class="chat-message-content clearfix">
						
						<span class="chat-time">13:37</span>

						<h5>Marco Biedermann</h5>

						<p>Ese es otro texto de prueba</p>

					</div> <!-- end chat-message-content -->

				</div> <!-- end chat-message -->

				<hr>

				<div class="chat-message clearfix">
					
					<img src="https://img.icons8.com/color-glass/48/000000/morty-smith.png" alt="" width="32" height="32">

					<div class="chat-message-content clearfix">
						
						<span class="chat-time">13:38</span>

						<h5>Tú</h5>
						<p><ul class="mensaje" id="messages"></ul> </p>

					</div> <!-- end chat-message-content -->
          

				</div> <!-- end chat-message -->

				<hr>

			</div> <!-- end chat-history -->



			<fieldset class=" prueba"> 		
				<input class="enviartexto" id="myMessage" type="text">
				<button class="botonEnviar" id="send">Enviar</button>
				<div class="enviararchivos"><button class="enviararchivos1">😀</button></div>
				<div class="enviararchivos"><button class="enviararchivos1">📎</button></div>
			</fieldset>

		</div> <!-- end chat -->

	</div>
	

	
  
<!--   <ul id="messages"></ul> -->


	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
  <script
  src="http://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
<script>
const socket = io()


socket.emit('message', 'Buenas buenas')

socket.on('message', function(msg) {
  $('#messages').append('<li>' + msg + '</li>')
  
})

$('#send').on('click', function() {
  socket.send($('#myMessage').val());
  $('#myMessage').val('');
})
</script>

</body>
</html>