<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prueba Flask</title>
    <!-- Importar paquete socket.io -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>

</head>
<body>

    <!-- Funcion conectar socketio con python -->
    <script>
        
        var socket = io()
        socket.emit('message', 'Buenas buenas')
        socket.on('connect',function(){
            
        })
        socket.on('disconnect',function(){
            console.log("Desconectado")
        })
    </script>

    
    <h1>Proban3</h1>
</body>
</html>